<app-header></app-header>
<app-slider></app-slider>
<main>
  <section class="data-table">
    <h2>Áreas Deforestadas</h2>
    <table>
      <thead>
      <tr>
        <th>Región</th>
        <th>Superficie Deforestada (km²)</th>
        <th>Año</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Combitá</td>
        <td>50000</td>
        <td>2023</td>
      </tr>
      <tr>
        <td>Sogamoso</td>
        <td>30000</td>
        <td>2023</td>
      </tr>
      <!-- Agrega más filas según sea necesario -->
      </tbody>
    </table>
  </section>

  <section class="data-stats">
    <h2>Estadísticas Generales</h2>
    <ul>
      <li><strong>Total de Áreas Deforestadas:</strong> 100000 km²</li>
      <li><strong>Región con Mayor Deforestación:</strong> Combitá</li>
      <li><strong>Año con Mayor Deforestación:</strong> 2023</li>
      <!-- Agrega más estadísticas según sea necesario -->
    </ul>
  </section>
</main>
<app-footer></app-footer>
