/* Estilos generales para el contenedor del formulario */
.login-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilos para el formulario */
.login-form {
  margin-bottom: 15px;
}

/* Estilos para las etiquetas */
.login-form label {
  display: block;
  margin-bottom: 5px;
}

/* Estilos para los campos de entrada */
.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Para incluir el padding y el borde en el ancho total */
}

/* Estilos para el botón de enviar */
.login-form input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/* Estilos para el enlace de "Olvidé la contraseña" */
.forgot-password {
  text-align: center;
  color: #666;
  font-size: 14px;
  margin-top: 10px;
}

/* Estilos para el enlace de "Olvidé la contraseña" cuando se pasa el ratón por encima */
.forgot-password a {
  color: #666;
  text-decoration: none;
}

.forgot-password a:hover {
  color: #333;
  text-decoration: underline;
}
