<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-section">
                <h3>Enlaces</h3>
                <ul>
                    <li><a href="index.html"><i class="fas fa-home"></i> Inicio</a></li>
                    <li><a href="datos"><i class="fas fa-database"></i> Datos</a></li>
                    <li><a href="projects.html"><i class="fas fa-project-diagram"></i> Proyectos</a></li>
                    <li><a href="noticias"><i class="fas fa-newspaper"></i> Noticias</a></li>
                    <li><a href="post"><i class="fas fa-pencil-alt"></i> Post</a></li>
                    <li><a href="login"><i class="fas fa-sign-in-alt"></i> Login</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <img src="../../../assets/img/logo1.png" alt="Tu Logo" class="footer-logo">
                <h3>Contacto</h3>
                <p><a href="#"><i class="fas fa-map-marker-alt"></i> Dirección: Calle Principal, Ciudad, País</a></p>
                <p><a href="#"><i class="fas fa-phone"></i> Teléfono: +123456789</a></p>
                <p><a href="#"><i class="fas fa-envelope"></i> Email: info&#64;tuempresa.com</a></p>
            </div>
        </div>
    </div>
</footer>

