.project-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espacio entre las tarjetas */
}

.project-card {
  width: calc(33.33% - 20px); /* Ajusta el ancho de las tarjetas */
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease; /* Transición suave al hacer hover */
}

.project-card:hover {
  transform: translateY(-5px); /* Elevación al hacer hover */
}

.project-card img {
  width: 100%;
  height: auto;
  display: block; /* Asegura que la imagen no tenga espacios vacíos */
}

.project-info {
  padding: 15px;
}

.project-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.project-description {
  color: #666;
  line-height: 1.6;
}

.project-link {
  display: inline-block;
  color: #468b48;
  text-decoration: none;
  font-weight: bold;
  margin-top: 10px;
}

.project-link:hover {
  color: #2c6d36;
}
