<header class="header">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/img/logo1.png" alt="Bosques en Peligro">
        </div>
        <div class="search">
            <input type="text" placeholder="Buscar...">
            <button type="submit"><i class="fas fa-search"></i></button>
        </div>
        <nav class="nav">
            <ul>
                <li><a href="index.html"><i class="fas fa-home"></i> Inicio</a></li>
                <li><a href="datos"><i class="fas fa-database"></i> Datos</a></li>
                <li><a href="proyectos"><i class="fas fa-project-diagram"></i> Proyectos</a></li>
                <li><a href="noticias"><i class="fas fa-newspaper"></i> Noticias</a></li>
                <li><a href="post"><i class="fas fa-pencil-alt"></i> Post</a></li>
                <li><a href="login"><i class="fas fa-sign-in-alt"></i> Login</a></li>
            </ul>
        </nav>
    </div>
</header>

