.about-section {
  background-color: #f5f5f5;
  padding: 50px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.about-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow: hidden; /* Oculta el desbordamiento de las imágenes */
  display: flex;
  align-items: center; /* Alinea verticalmente el contenido */
  justify-content: space-between; /* Espacio uniforme entre los elementos */
}

.shield {
  width: 150px; /* Tamaño de las imágenes */
  height: auto; /* Altura automática para mantener la proporción */
}

.content {
  flex: 1; /* Ocupa todo el espacio restante */
  padding: 0 20px; /* Espacio alrededor del contenido */
}

.section-title {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.section-description {
  color: #666;
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: justify; /* Alineación justificada del texto */
}
