<section class="about-section">
    <div class="container">
        <div class="about-card">
            <img src="https://upload.wikimedia.org/wikipedia/commons/3/3a/Logo_Corporaci%C3%B3n_Aut%C3%B3noma_Regional_de_Cundinamarca.png" alt="Escudo de Cundinamarca" class="shield left">
            <div class="content">
                <h2 class="section-title">Sobre Nosotros</h2>
                <p class="section-description">Bienvenido a nuestro portal informativo sobre la deforestación en Boyacá y Cundinamarca. En este espacio, nos dedicamos a proporcionar información actualizada, análisis profundos y recursos educativos sobre los desafíos ambientales que enfrentan estas regiones.</p>
                <p class="section-description">Nuestra misión es crear conciencia sobre la importancia de proteger nuestros bosques y promover prácticas sostenibles que contribuyan a la conservación del medio ambiente.</p>
            </div>
            <img src="https://lh3.googleusercontent.com/proxy/fYjoYInb2R5ymvzFJjD3rfOVsoIHI5jwyKfonDek6dh68aCpv9OX-mEDhDhngK1lE4sDh6PzTjkMVaeD0DqI7AlCtdm0H6iKOI0vg4xQXA4u3ktWVcgHz_cn1DoZgNLhur8tywFO4ZciYB1mLZIusSYkQA" alt="Escudo de Boyacá" class="shield right">
        </div>
    </div>
</section>

